<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">

    <h1>Past Daily Logs</h1>
    <ul class="row list-unstyled">
      <% logs.forEach(log =>  { %>
        <li class="col-6 justify-content-between mt-5">
          <div>
          <span><h2><%= log.date %></h2></span>
          <span><%= log.habits.icon%></span>
          <span><%= log.habits.habit%></span>
          <span><%= log.habits.progress%></span>
          <span><%= log.habits.unit%></span>
          <span>
            <form
            action="/logs/deleteLog/<%= log.id %>?_method=DELETE"
            method="POST"
            class="col-3"
            >
           <button class="btn btn-primary fa fa-trash" type="submit"></button>
          </form>
          </span>
        </div>
        </li>
      <% }) %>
      </ul>

    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/dashboard">Return to Dashboard</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
